{
  "rules": {

    // Possible Errors
    "no-await-in-loop"            : 0,
    "no-cond-assign"              : 2,
    "no-constant-condition"       : 2,
    "no-control-regex"            : 2,
    "no-debugger"                 : 2,
    "no-dupe-args"                : 2,
    "no-dupe-keys"                : 2,
    "no-duplicate-case"           : 2,
    "no-empty-character-class"    : 2,
    "no-empty"                    : 2,
    "no-ex-assign"                : 2,
    "no-extra-boolean-cast"       : 2,
    "no-extra-parens"             : 1,
    "no-extra-semi"               : 2,
    "no-func-assign"              : 2,
    "no-inner-declarations"       : 2,
    "no-invalid-regexp"           : 2,
    "no-irregular-whitespace"     : [2, { "skipComments": true }],
    "no-obj-calls"                : 2,
    "no-prototype-builtins"       : 2,
    "no-regex-spaces"             : 2,
    "no-sparse-arrays"            : 2,
    "no-template-curly-in-string" : 2,
    "no-unexpected-multiline"     : 2,
    "no-unreachable"              : 2,
    "no-unsafe-finally"           : 2,
    "no-unsafe-negation"          : 2,
    "use-isnan"                   : 2,
    "valid-jsdoc"                 : 1,
    "valid-typeof"                : 2,

    // Best Practices
    "accessor-pairs"       : 2,
    "array-callback-return": 1,
    "block-scoped-var"     : 2,
    "complexity"           : [1, { "max": 10 }],
    "consistent-return"    : 2,
    "curly"                : 0,
    "default-case"         : 1,
    "dot-location"         : 0,
    "dot-notation"         : 1,
    "eqeqeq"               : 1,
    "guard-for-in"         : 1,
    "no-alert"             : 1,
    "no-caller"            : 1,
    "no-case-declarations" : 2,
    "no-div-regex"         : 1,
    "no-else-return"       : 1,
    "no-empty-function"    : 1,
    "no-empty-pattern"     : 2,
    "no-eq-null"           : 0,
    "no-eval"              : 1,
    "no-extend-native"     : 1,
    "no-extra-bind"        : 1,
    "no-extra-label"       : 1,
    "no-fallthrough"       : 2,
    "no-floating-decimal"  : 1,
    "no-implicit-coercion" : 1,
    "no-implied-eval"      : 1,
    "no-invalid-this"      : 1,
    "no-iterator"          : 1,
    "no-labels"            : 1,
    "no-lone-blocks"       : 1,
    "no-loop-func"         : 1,
    "no-magic-numbers"     : 0,
    "no-multi-spaces"      : 0,
    "no-multi-str"         : 1,
    "no-native-reassign"   : 1,
    "no-new-func"          : 1,
    "no-new-wrappers"      : 1,
    "no-new"               : 1,
    "no-octal"             : 1,
    "no-octal-escape"      : 1,
    "no-param-reassign"    : 1,
    "no-proto"             : 1,
    "no-redeclare"         : 1,
    "no-return-assign"     : 1,
    "no-script-url"        : 1,
    "no-self-assign"       : 1,
    "no-self-compare"      : 1,
    "no-sequences"         : 1,
    "no-throw-literal"     : 1,
    "no-unmodified-loop-condition": 1,
    "no-unused-expressions": 1,
    "no-unused-labels"     : 1,
    "no-useless-call"      : 1,
    "no-useless-concat"    : 1,
    "no-useless-escape"    : 1,
    "no-void"              : 1,
    "no-warning-comments"  : 1,
    "no-with"              : 1,
    "radix"                : 1,
    "vars-on-top"          : 1,
    "wrap-iife"            : 1,
    "yoda": [1, "never", {"exceptRange": true}],

    // Strict Mode
    "strict": 0,

    // Variables
    "init-declarations"    : 1,
    "no-catch-shadow"      : 0,
    "no-delete-var"        : 2,
    "no-label-var"         : 1,
    "no-restricted-globals": 1,
    "no-shadow"            : 2,
    "no-shadow-restricted-names": 1,
    "no-undef"             : 2,
    "no-undef-init"        : 2,
    "no-undefined"         : 1,
    "no-unused-vars"       : 1,
    "no-use-before-define" : 2,

    // Node.js
    "callback-return"      : 0,
    "global-require"       : 0,
    "handle-callback-err"  : 0,
    "no-mixed-requires"    : 0,
    "no-new-require"       : 0,
    "no-path-concat"       : 0,
    "no-process-env"       : 0,
    "no-process-exit"      : 0,
    "no-restricted-modules": 0,
    "no-sync"              : 0,

    // Stylistic Issues
    "comma-spacing"   : [2, {"before": false, "after": true}],
    "indent"          : [1, 2, {"SwitchCase": 1}],
    "linebreak-style" : [2, "unix"],
    "quotes"          : [1, "single"],
    "semi"            : [2, "never"],

    // ECMAScript6
    "arrow-body-style"       : 0,
    "arrow-parens"           : [1, "always"],
    "arrow-spacing"          : [2, {"before": true, "after": true}],
    "constructor-super"      : 2,
    "generator-star-spacing" : [2, "before"],
    "no-class-assign"        : 2,
    "no-const-assign"        : 2,
    "no-dupe-class-members"  : 1,
    "no-duplicate-imports"   : 1,
    "no-new-symbol"          : 1,
    "no-restricted-imports"  : 1,
    "no-this-before-super"   : 1,
    "no-useless-computed-key": 1,
    "no-useless-constructor" : 1,
    "no-var"                 : 1,
    "object-shorthand"       : 0,
    "prefer-arrow-callback"  : 1,
    "prefer-const"           : 1,
    "prefer-reflect"         : 0,
    "prefer-rest-params"     : 1,
    "prefer-spread"          : 1,
    "require-yield"          : 2,
    "sort-imports"           : 0,
    "template-curly-spacing" : 1,
    "yield-star-spacing"     : 1,

    // for debug
    "no-console" : 0,
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "global": true   // for test
  }
}
